table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: lightgray;
}


/*
    table :nth-last-child(3){
        
    }

    p+p{

    }

    #pagina>img{
    }

    a[href$.doc]

    div:hover{
        background-color : green;
    }