h1,
h1,
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}


/* Il CSS serve per modificare la parte grafinca del HTML
 Utilizza valori come il tag, classi, blocchi etcc..
 Possiamo andare modificare certe proprietà dei vari tag del html

 Oggi è in uso CSS3, però tutte le versioni sono retro compatibilii
 anche se non tutte le versioni dei browser rientrano/supportano le versioni css.

 @ <style> o <link> ?
         Style si scrive all' inserinsce alla pagina html interessata
         pertanto non si usa spesso, solo per scopo didattico od in generale piccole modifiche
    
         Link permette l' utilizzo simultaneo di un solo CSS per più pagine HTML, il metodo
         più consigliato.

Nella realtà spesso esistno sia css (globali) per definire caratteristiche per più
pagine e più css per caratteristiche delle singole, più specifiche per ogni pagina

<----------------------------------------------------------------------------------------------------------------------------------------->

 @I VARI TIPI DI SELETTORI

    *{}      -> Universal selector : prende tutti gli elementi del documento

    h1.h1,h3 -> Type selector      :  "" modifica tutti i tag selezionati

    .class   -> Class selector     :   "" modifica tutti gli elementi di una determinata classe

    p.note   -> Sempre class selector senguendo la gerarchia "tutti gli elementi di tipo 'p' che hanno la classe 'note' " 

    #id      -> ID selectori       : modifica l' elementio con il determinato ID

    li>a {}  -> Child Selctor      : si definiscono padre 'id' e figlio 'a' tutti gli elementi per i quali vale questa proprietà
     
    p a {}   ->Descendent Selector : l'  qui invece gli elementi sono invertiti, il primo indica il figlio ed il secondo il padre

    h1+p {}  ->Adjacent Sibling    : Prende gli elementi adiacenti, tutti gli elementi p che sono fratelli h1

    h1~p{}   ->General Selector    : Tra 2 o più elementi p prende solo (~ -> ALT + 126)

    p[href] ->EXISTANCE           : Tutti gli elementi p che hanno la attributo 'href'

    p[href="logo"] -> Equality    : Prendo tutti gli elementi in p con attributo href = logo

    p[href=="logo"] -> Space      : Prendo tutti gli elementi di p che hanno l' attributo href e che hanno il valore "logo" in una lista separata da spazi

    p[attr^"d"], p[attr*"do"], p[attr$"d"] : prendo tutti gli elementi che iniziano con d, tutti gli elementi con sottostringa "do", prendo tutte gli elementi che finiscono per d


    <----------------------------------------------------------------------------------------------------------------------------------------->

    @Le PSEUDOCLASSI
        Sono delle specifiche che si combinano con i selettori per lavorare su elementi fittizzi che non ci sono esplicitamente con hmtl.
        Le pseudo classi si combinano al selettori con '::'

        a:link { color :  pink}     -> il comportamento normale dei link è rosa

        a:hover {color : green}     -> quando ci passo sopra col mouse, si colora in verde

        a:visite {color: black}     -> quando vado sul link e visito la pagina esso si colora in nero

        a:nth-child(odd) td {color} -> i figli td con numerazione dispari di tr, si coloranod i rosso
                                       all'interno delle parentesi tonde si possono inserire anche delle espressioni più complesse
        
    
    @Gli PSEUDOELEMENTI
        A differenze delle psudo classi a partire dal CSS3 hanno iniziano con '::', crea elementi fittizzi, che non esistono veramente nell' HTML ma che si
        possono in qualche modo modificare per dargli uno stile particolare. 
        Per esempio h1::first-letter{ color : Green} va a prendere la prima lettera del titolo colorandola di verde, senza gli pseudoelementi avremmo dovuto 
        creare un element all' interno di h1 dove inserie la prima lettera, assegnarlo un id, e modificarlo nel css.

        ::first-letter -> modifica la prima lettera

        ::firt-line -> indentifica la prima linea di elementi

        ::before e ::after -> inserisci un elemento prima o dopo quello selezionato

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
+++
    CASCADIND