#wrapper {
    width: 960px;
    margin: auto;
}

#header,
#footer {
    width: inherit;
}

#main {
    width: 650px;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}

#secondary {
    width: 250px;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
}