body {
    width: 960px;
    margin: 0 auto;
}

#header {
    width: inherit;
}

#navigation,
#secondary {
    width: 200px;
    float: left
}

#main {
    width: 520px;
    margin: 0 auto;
    float: left;
    padding: 0 auto 0 auto;
}

#footer {
    clear: left;
}