@media screen and (min-width:240px) {
    .flex-container {
        display: flex;
        align-content: center;
        background-color: darkslategrey;
        flex-wrap: wrap;
    }
    .flex-item-left {
        align-self: left;
        background-color: red;
        min-width: 200px;
        min-height: 200px;
        flex: 100%;
    }
    .flex-item-center {
        align-self: center;
        background-color: green;
        min-width: 200px;
        min-height: 200px;
        flex: 100%;
    }
    .flex-item-right {
        align-self: right;
        background-color: blue;
        min-width: 200px;
        min-height: 200px;
        flex: 100%;
    }
}

@media screen and (min-width:961px) {
    .flex-container {
        display: flex;
        align-content: inherit;
        background-color: darkslategrey;
        flex-wrap: wrap;
    }
    .flex-item-left {
        align-self: left;
        background-color: red;
        min-width: 200px;
        min-height: 200px;
        flex: 33%;
    }
    .flex-item-center {
        align-self: center;
        background-color: green;
        min-width: 200px;
        min-height: 200px;
        flex: 33%;
    }
    .flex-item-right {
        align-self: right;
        background-color: blue;
        min-width: 200px;
        min-height: 200px;
        flex: 33%;
    }
}