@media (min-width:481px) {
    .flex-container {
        flex-wrap: wrap;
        align-content: center;
        display: flex;
    }
    .flex-item-left,
    .flex-item-center,
    .flex-item-right {
        flex: 100%
    }
    .flex-item-left {
        background-color: goldenrod;
    }
    .flex-item-center {
        background-color: purple;
    }
    .flex-item-right {
        background-color: orange;
    }
}

@media (min-width:961px) {
    .flex-container {
        flex-wrap: wrap;
        align-content: center;
        display: flex;
    }
    .flex-item-left,
    .flex-item-center {
        flex: 50%;
    }
    .flex-item-right {
        flex: 100%;
    }
    .flex-item-left {
        background-color: goldenrod;
    }
    .flex-item-center {
        background-color: purple;
    }
    .flex-item-right {
        background-color: orange;
    }
}

@media (min-width:1025px) {
    .flex-container {
        flex-wrap: wrap;
        align-content: center;
        display: flex;
    }
    /* big landscape tablets, laptops, and desktops */
    .flex-item-left,
    .flex-item-center,
    .flex-item-right {
        flex: 33%;
    }
    .flex-item-left {
        background-color: goldenrod;
    }
    .flex-item-center {
        background-color: purple;
    }
    .flex-item-right {
        background-color: orange;
    }
}